<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <div
      style='color: #484848;
            font-family: "Roboto", sans-serif;
            background-color: rgb(240, 244, 247);
            display: flex;
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
            font-size: 1.1rem;
            text-align: justify;
            position: relative;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            min-width: 70%;'
    >
      <div
        style='height: auto;
            width: 700px;
            border-radius: 20px;
            background: #fff;
            padding: 30px 30px 30px 30px;
            overflow: hidden;
            margin: 20px auto;'
      >
        <div
          style='display: flex;
        justify-content: center;
        margin-bottom: 20px;'
        >
          <p>
            <b style='color: #000;'>Dream<span
                style='color: #FA0319;'
              >Fit</span></b>.</p>
        </div>
        <div
          style='border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 10px;'
        ></div>
        <p>Agradecemos por se cadastrar.</p>

        <p>
          Para que você possa ter acesso ao site é necessário que você confirme
          seu cadastro clicando o botão abaixo:
        </p>

        <a
          style='background: #FA0319;
            padding: 10px 15px;
            border-radius: 5px;
            border: none;
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin-bottom: 30px;
            margin-top: 15px;'
          href='{{linkVerification}}'
          target='_blank'
          rel='noreferrer'
        >Confirmar conta</a>

        <p>
          Após confirmar seu cadastro, você será direcionado para nossa página. Em
          caso de qualquer dificuldade, por favor, não hesite em entrar em
          <a
            style='color:#FA0319; text-decoration: none; font-weight: bold; '
            href='https://localhost:3000/contato'
          ><i>contato</i></a>
          .
        </p>

        <p>
          Agradecemos pela confirmação do cadastro.
        </p>

        <p>Atenciosamente, equipe
          <b style='color: #000;'>Dream<span
              style='color: #FA0319;'
            >Fit</span></b>.</p>
      </div>
    </div>
  </body>
</html>